

table {
    width: 100%;
  }

.card {
   
    box-shadow: 0 0 0.875rem 0 rgb(41 48 66 / 5%);
}
.card {
    border:0 solid transparent;
  
    background-color: #fff;
  
}

.btn-primary {

    color: #fff;
    background-color: #3f80ea;
    border-color: #3f80ea;

}
.table-responsive
{  border: solid #f8f9fa;
  
    background-color:white;
    box-shadow: 0 0 0.875rem 0 rgb(41 48 66 / 5%)
} 
.cell-breakWord {
    word-wrap: break-word;
    max-width: 1px;
 }
 .btn-outline-primary {
    color: #007bff;
    background-color: transparent;
    background-image: none;
    border-color: #007bff;
}
 th
 {
     font-size:small
 } 
 body{
    background-color: #F7F9FE;
 } 


.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 1006px)
{
.container {
    width: 1006px;
}
}

