                <app-my-nav> 
                  <body>
                 <div class="col-md-10"> 
                  <h1 class="card-title">Profile Details</h1> 
                  <div class="card"> 
            
                    <div class="card-body">
                      <div class="m-sm-4">
                    <form class="form-horizontal" [formGroup]="fileUploadForm" (ngSubmit)="onFormSubmit()">
                            <h3 class="fieldset-title">Personal Info</h3>
                            <!-- <div class="form-group avatar"> -->
                                <!-- <figure class="figure col-md-2 col-sm-3 col-xs-12"> -->
                                  <img class="img-rounded img-responsive" [src]="imageSrc" *ngIf="imageSrc" style="height: 100px; width:100px">
                                    <!-- <img class="img-rounded img-responsive" src="https://bootdey.com/img/Content/avatar/avatar1.png" alt=""> -->
                                <!-- </figure> -->
                                <div class="form-inline">
                                   <div class="custom-file">
            <input type="file" class="custom-file-input" id="customFile" name="uploadedImage"
              (change)="onFileSelect($event)" #UploadFileInput>
            <label class="custom-file-label" for="customFile">{{fileInputLabel || 'Choose File'}}</label>
          </div>
                                    <!-- <input type="file" class="file-uploader pull-left">
                                    <button type="submit" class="btn btn-sm btn-default-alt pull-left">Update Image</button> -->
                                </div>
                            <!-- </div> -->
                            <div class="form-group">
                                <!-- <label class="col-md-2 col-sm-3 col-xs-12 control-label">Address</label> -->
                                <!-- <div class="col-md-10 col-sm-9 col-xs-12"> -->
                                  <input type="text" formControlName="address" class="form-control form-control-lg"  placeholder="Address" />
                                    <!-- <input type="text" class="form-control" value="Rebecca"> -->
                                <!-- </div> -->
                            </div>
        
                            <div class="form-group">
                                <!-- <label class="col-md-2 col-sm-3 col-xs-12 control-label">Mobile No.</label> -->
                                <!-- <div class="col-md-10 col-sm-9 col-xs-12"> -->
                                  <input type="text" formControlName="mobile" class="form-control form-control-lg"  placeholder="Mobile No." />
                                <!-- </div> -->
                            </div>
                            <div class="form-group">
                                <!-- <label class="col-md-2 col-sm-3 col-xs-12 control-label">Alternative No.</label> -->
                                <!-- <div class="col-md-10 col-sm-9 col-xs-12"> -->
                                  <input type="text" formControlName="alternativeNo" class="form-control form-control-lg"  placeholder="Alternative No."/>
                                <!-- </div> -->
                            </div>
                    
                        
                        <hr>
                        <div class="form-group">
                          <div class="text-center mt-3">
                            <!-- <div class="col-md-10 col-sm-9 col-xs-12 col-md-push-2 col-sm-push-3 col-xs-push-0"> -->
                                <input class="btn btn-primary" type="submit" value="Update Profile">
                             </div> 
                        </div>
                    </form>
                  </div>
                </div> 
                </div>
              </div>
              </body>
              </app-my-nav> 
         