      <app-my-nav> 
        <body>
        <div class="col-6">
          <div class="illustration-text p-3 m-1">
       
       </div>
      <mat-card class="example-card">
        <mat-card-content>
          <h1>Welcome to Vcodify technologies</h1>
            
            <h3>Thanks, {{userDetails.fullName}} for chossing our organization to grow with us.</h3>
            <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ad commodi reiciendis repellat officiis possimus vero voluptates. Voluptatum ut eaque nobis. Atque tempore eveniet sapiente dicta omnis maiores officiis quidem optio.
          </p>
        </mat-card-content>
      </mat-card>
     </div>
     </body>
     <router-outlet></router-outlet> 
     </app-my-nav>  
 
   