
.sidenav-container {
    height: 100%;
    }
 
   .sidenav {
   width: 200px;
   margin-top: 72px;
   }
 
  .sidenav .mat-toolbar {
   background: inherit;
   }
 
  #drawer {
  position: fixed;
  }
 
  .mat-toolbar.mat-primary {
   position: sticky;
   top: 0;
   z-index: 1;
  }
  .illustration-text {
    color:black;
    
}
.h4, h4 {
    font-size: 1.03125rem;
}

body{
    background-color: #F7F9FE;
 }
 .example-card{
    top:10%;
    width:50%;
    left: 20%;
    right: 20%;
    text-align:center;
    position:fixed;
    margin:0 auto;
    display:inline-block;
}