<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
<app-my-nav>

        <div class="row">
          <div class="col-xl-4 order-xl-2 mb-5 mb-xl-0">
            <div class="card card-profile shadow">
              <div class="row justify-content-center">
                <div class="col-lg-3 order-lg-2">
                  <div class="card-profile-image">
                    <a href="#">
               <img src="https://demos.creative-tim.com/argon-dashboard/assets/img/theme/team-4.jpg" 
               class="rounded-circle">
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-8 order-xl-1">
            <div class="card bg-secondary shadow">
              <div class="card-header bg-white border-0">
                <div class="row align-items-center">
                  <div class="col-8">
                    <h3 class="mb-0">My account</h3>
                  </div>
                </div>
              </div>
              <div class="card-body">
                <form class="form-horizontal" [formGroup]="fileUploadForm" (ngSubmit)="onFormSubmit()">
                  <h6 class="heading-small text-muted mb-4">User information</h6>
                  <div class="pl-lg-4">
                    <div class="row">
                      <div class="col-lg-6">
                        <div class="form-group focused">
                          <label class="form-control-label" for="input-username">Personal Email</label>
                          <input type="email" id="PersonalEmail" formControlName="PersonalEmail" class="form-control form-control-alternative" placeholder="Personal Email">
                        </div>
                      </div>
                      <div class="col-lg-6">
                        <div class="card-profile-image">
                          <a href="#">
                            <img src="https://demos.creative-tim.com/argon-dashboard/assets/img/theme/team-4.jpg" class="rounded-circle">
                          </a>
                        </div>
                      </div>
                    </div>
<br><br><br>
                    <div class="row">
                      <div class="col-lg-6">
                        <div class="form-group focused">
                          <label class="form-control-label" for="input-first-name">Personal No.</label>
                          <input type="text" id="input-first-name" formControlName="personalno" class="form-control form-control-alternative" placeholder="Personal No.">
                        </div>
                      </div>
                      <div class="col-lg-1">
                      </div>
                      <div class="col-lg-4">
                        <div class="form-group focused">
                          <label class="form-control-label" for="input-last-name">Alternative No.</label>
                          <input type="text" id="input-last-name" formControlName="alternativeNo" class="form-control form-control-alternative" placeholder="Alternative No.">
                        </div>
                      </div>
                    </div>
                  </div>
                  <hr class="my-4">
                  <!-- Address -->
                  <h6 class="heading-small text-muted mb-4">Contact information</h6>
                  <div class="pl-lg-4">
                    <div class="row">
                      <div class="col-md-12">
                        <div class="form-group focused">
                          <label class="form-control-label" for="input-address">Current Address</label>
                          <input id="input-address" class="form-control form-control-alternative" formControlName="currentaddress" placeholder="current address"  type="text">
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12">
                        <div class="form-group focused">
                          <label class="form-control-label" for="input-address">Permanent Address</label>
                          <input id="input-address" class="form-control form-control-alternative" formControlName="permanentaddress" placeholder="permanent address"  type="text">
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-lg-6">
                        <label for="UserType"  class="form-control-label">UserType:</label>
                        <select formControlName="UserType" class="form-control">
                            <option disabled>Select Website</option>
                            <option>Choose Website</option>
                            <option *ngFor="let web of UserType">{{web}}</option>
                        </select>
                    </div>
            
                <div class="col-lg-2">
                  <label  class="form-control-label" for="gender">Gender:</label>
                  <div>
                    <input id="male" type="radio" value="male"  name="gender" formControlName="gender" (change)="changeGender($event)">
                    <label for="male" class="form-control-label">Male</label>
                  </div>
                  <div>
                    <input id="female" type="radio" value="female" name="gender"  formControlName="gender" (change)="changeGender($event)">
                    <label for="female" class="form-control-label">Female</label>
                 </div>
              </div>
             
                      
                      <div class="col-lg-6">
                        <div class="form-group focused">
                          <label class="form-control-label" for="input-last-name">Tl Associated</label>
                          <input type="text" id="input-last-name" class="form-control form-control-alternative" formControlName="Tlassociated" placeholder="Tl Associated">
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-lg-6">
                        <div class="form-group focused">
                          <label class="form-control-label" for="input-first-name">Nomine Name</label>
                          <input type="text" id="input-first-name" class="form-control form-control-alternative" formControlName="Nominename" placeholder="Nomine Name">
                        </div>
                      </div>
                      <div class="col-lg-1"></div>
                      <div class="col-lg-4">
                        <div class="form-group focused">
                          <label class="form-control-label" for="input-last-name">Nominee PhNumber</label>
                          <input type="text" id="input-last-name" class="form-control form-control-alternative" formControlName="NominePhNumber" placeholder="Nominee PhNumber">
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="text-center mt-3">
                    <input class="btn btn-primary" type="submit" value="Update Profile">
                 </div> 
                  <!-- <hr class="my-4"> -->
                  <!-- Description -->
                  <!-- <h6 class="heading-small text-muted mb-4">About me</h6> -->
                  <!-- <div class="pl-lg-4">
                    <div class="form-group focused">
                      <label>About Me</label>
                      <textarea rows="4" class="form-control form-control-alternative" placeholder="A few words about you ...">A beautiful Dashboard for Bootstrap 4. It is Free and Open Source.</textarea>
                    </div>
                  </div> -->
                </form>
              </div>
            </div>
          </div>
        </div>
      <!-- </div>
    </div>
    <footer class="footer">
      <div class="row align-items-center justify-content-xl-between">
        <div class="col-xl-6 m-auto text-center">
          <div class="copyright">
            <p>Made with <a href="https://www.creative-tim.com/product/argon-dashboard" target="_blank">Argon Dashboard</a> by Creative Tim</p>
          </div>
        </div>
      </div>
    </footer> -->
  <!-- </body> -->
</app-my-nav>